# build output
dist/
# generated types
.astro/

# Wrangler files
.wrangler/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# swpfiles from text editors
*.swp
*.kate-swp

# macOS-specific files
.DS_Store
